@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverAnimation {
        @apply hover:bg-slate-400 hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
    }
    .input {
        @apply w-full rounded px-5 py-3.5 placeholder:text-[gray];
    }
    .reelsStyle {
        @apply bg-white rounded-xl w-[97px] h-[150px] cursor-pointer transition duration-200 ease-out;
    }
    .outlined {
        @apply outline outline-1 outline-[#E9E9ED];
    }

    body::-webkit-scrollbar,
    .notif__tab::-webkit-scrollbar,
    .modal__add-review::-webkit-scrollbar {
        width: 0.4rem;
    }

    .apps__tab::-webkit-scrollbar {
        display: none;
    }

    html,
    .notif__tab {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #e2eeff;
        @apply bg-[#F9FAFA];
    }

    body::-webkit-scrollbar-track,
    .notif__tab::-webkit-scrollbar-track,
    .modal__add-review::-webkit-scrollbar-track {
        background: #e9e9ed;
    }

    .reels::-webkit-scrollbar {
        @apply h-1
    }

    .reels::-webkit-scrollbar {
        @apply h-1
    }

    .reels::-webkit-scrollbar-thumb {
        @apply bg-[#2E55A3] rounded-3xl hover:bg-blue-600 transform ease-linear duration-200;
    }

    .reels::-webkit-scrollbar-track {
        background: #F9FAFA;
    }

    body::-webkit-scrollbar-thumb,
    .notif__tab::-webkit-scrollbar-thumb,
    .modal__add-review::-webkit-scrollbar-thumb {
        border-radius: 0.2rem;
        background: #c0c1cc;
    }

    .love:hover .love__icon {
        @apply text-white;
    }

    .active {
        @apply bg-[#E2EEFF] text-[#2E55A3];
    }

    .active > * {
        @apply text-[#2E55A3];
    }

    /* Container */
    .container {
        @apply max-w-[1440px] mx-auto;
    }
    .content__container {
        @apply pt-[1.5rem] pb-[8rem] md:pb-[5rem]
        px-4
        md:px-[2rem] md:pt-[3rem]
        lg:px-[4rem];
    }

    /* Button */
    .button {
        @apply w-full rounded-[.5rem] bg-[#2E55A3] pt-1 pb-2 text-sm font-semibold text-white 
        xl:text-base 
        hover:bg-[#3280BB]
        duration-300;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #f9fafa;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Input */
    .input__flex {
        @apply flex flex-col gap-y-1.5 mb-5;
    }
    .input__groups-label {
        @apply block text-[.65rem] lg:text-xs font-medium text-gray-900;
    }
    .input__groups {
        @apply relative;
    }
    .input__groups-icon {
        @apply flex absolute inset-y-0 left-0 items-center pl-4 pointer-events-none;
    }
    .input__icon {
        @apply w-[.85rem] text-gray-600 
        xl:w-[.875rem] ring-0;
    }
    .input__group {
        @apply border border-slate-300 text-[.65rem] lg:text-xs w-full py-2 rounded-md pl-9 pr-4 focus:outline-none 
        xl:pl-9
        hover:border-slate-400
        focus:border-[#2E55A3] focus:bg-white focus:text-gray-600
        duration-200;
    }
    .invalid {
        @apply border-red-500;
    }
    .invalid-feedback {
        @apply text-red-500 text-xs flex gap-1 items-center xl:text-xs leading-[1px];
    }
    .input__groups-icon-password {
        @apply absolute inset-y-0 right-0 flex items-center pr-4 cursor-pointer;
    }
    .input-password {
        @apply pl-9 pr-10;
    }

    /* Dropdown */
    .dropdown__menu {
        @apply relative inline-block text-left;
    }
    .dropdown__menu-btn {
        @apply inline-flex items-center justify-center rounded-md bg-transparent text-sm font-medium hover:bg-slate-100 duration-200;
    }
    .dropdown__menu-profile {
        @apply flex flex-row gap-3 items-center mr-[2rem] pl-2 pt-1 pb-1;
    }
    .dropdown__menu-profile-img {
        @apply w-[30px] h-[30px] rounded-[.4rem];
    }
    .dropdown__menu-profile-data {
        @apply flex flex-col items-start;
    }
    .dropdown__arrow {
        @apply ml-2 -mr-1 pr-2 h-7 w-7 text-slate-600 hover:text-slate-500;
    }
    .dropdown__menu-items {
        @apply absolute w-56 origin-top-right divide-y divide-gray-100 rounded-[.75rem] bg-white shadow-sm ring-1 ring-black ring-opacity-5 focus:outline-none;
    }
    .dropdown__menu-items-container {
        @apply px-1 py-1;
    }
    .dropdown__menu-item {
        @apply flex w-full items-center rounded-[.75rem] px-3 py-[.35rem] lg:py-2 text-[.72rem] lg:text-[.85rem] duration-100 font-medium hover:bg-[#E2EEFF] hover:text-[#2E55A3] mb-1;
    }
    .dropdown__menu-item-icon {
        @apply mr-3 h-[.75rem] w-[.75rem];
    }
    .dropdown__btn-notification {
        @apply bg-[#E2EEFF] text-[#2E55A3] text-xs md:text-sm font-bold hover:text-white py-2;
    }

    /* Navbar */
    .nav__container {
        @apply bg-white border-gray-200 py-3 drop-shadow-md
        px-4
        md:px-[2rem]
        lg:px-[6rem]
        2xl:rounded-b-xl;
    }
    .nav__section {
        @apply container flex justify-between items-center mx-auto
        md:gap-x-[2.5rem]
        max-w-[1440px]
        2xl:px-[6rem];
    }
    .nav__logo {
        @apply flex items-center;
    }
    .nav__icon {
        @apply mr-3 w-[4rem] md:w-[7.5rem];
    }
    .nav__search {
        @apply mb-0 w-full;
    }
    .nav__data {
        @apply flex gap-[.5rem];
    }
    .nav__btn-notif {
        @apply inline-flex relative items-center px-[.65rem] py-[.68rem] text-sm font-medium text-center text-white bg-[#F9FAFA] rounded-lg hover:bg-slate-100 focus:outline-none duration-300;
    }
    .notif__icon {
        @apply w-[.8rem] md:w-[1rem] lg:w-[1.2rem] text-black;
    }
    .nav__notif-count {
        @apply inline-flex absolute px-[.5rem] py-[.35rem] md:px-[.65rem] md:py-[.45rem] -top-0 -right-0 md:-top-0.5 md:-right-0.5 justify-center items-center w-2 h-2 md:w-3 md:h-3 text-[.4rem] md:text-[.5rem] font-medium md:font-bold text-white bg-red-500 rounded-full border border-white;
    }

    /* Login */
    .login__container {
        @apply flex items-center justify-center min-h-screen max-w-[1440px] mx-auto 
        md:gap-x-[1rem] 
        xl:gap-x-[2rem];
    }
    .login__images-container {
        @apply hidden pl-[3rem] py-[3rem]
        md:flex md:w-[65%] md:pr-[1.5rem]
        lg:pr-[3rem]
        xl:w-[55%];
    }
    .login__images {
        @apply bg-gradient-to-br from-[#3280BB] to-[#2E55A3] m-auto w-full rounded-xl h-[80vh] flex flex-col justify-center items-center;
    }
    .login__img {
        @apply w-[65vh];
    }
    .login__forms {
        @apply flex p-[3rem] justify-center flex-col gap-[2rem]
        md:pl-[1.5rem];
    }
    .login__form-title {
        @apply text-2xl font-bold mb-[.75rem]
        xl:text-4xl;
    }
    .login__form-subtitle {
        @apply text-sm text-slate-500 leading-[20px]
        xl:text-base;
    }
    .login__remember {
        @apply flex flex-row text-xs justify-between items-center mb-7 
        xl:text-xs xl:mb-9;
    }
    .checkbox__remember {
        @apply cursor-pointer text-gray-600 flex flex-row gap-x-1 text-current items-center 
        xl:gap-x-2;
    }
    .input__checkbox {
        @apply text-blue-600 bg-gray-100 rounded-[8px] border-gray-300 focus:ring-blue-500 h-3 w-3
        duration-300;
    }
    .forgot__pass {
        @apply text-gray-500 hover:text-gray-800;
    }

    .reels_swiper .swiper-wrapper {
        @apply pb-[.95rem]
    }

    .reels_swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
        @apply hidden md:block
    }

}
